In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from datetime import datetime
from loss_tracker import StockData

%matplotlib inline

In [2]:
%time data = StockData()
# %time data.run_all_calcs(-0.3, 100)

Wall time: 11.1 s

In [4]:
%time data.calc_r(days=1)
data.returnData.head()

Wall time: 142 ms

,A,AA,AAAU,AABA,AAC,AADR,AAL,AAMC,AAME,AAN,...,ZUMZ,ZUO,ZVV,ZVZZT,ZWZZT,ZXIET,ZXZZT,ZYME,ZYNE,ZYXI
1d_r,,,,,,,,,,,,,,,,,,,,,
2014-03-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2014-03-04,0.018867,NaN,NaN,0.036078,NaN,0.017371,0.034350,0.002482,-0.035819,-0.006558,...,0.028657,NaN,0.000000,0.000000,9.285713e+06,NaN,-0.510000,NaN,NaN,NaN
2014-03-05,0.000346,NaN,NaN,-0.003280,NaN,-0.009784,0.013926,0.004537,0.026535,-0.009901,...,-0.009148,NaN,0.000000,0.007254,-9.996400e-01,NaN,-0.999960,NaN,NaN,NaN
2014-03-06,0.016783,NaN,NaN,0.004051,NaN,0.009098,0.025092,0.012658,-0.005170,-0.002667,...,0.014268,NaN,0.094891,0.000000,-2.970085e-01,NaN,0.300000,NaN,NaN,-0.027511
2014-03-07,-0.005956,NaN,NaN,-0.024208,NaN,0.000000,0.005410,0.053949,0.018189,0.018717,...,0.014894,NaN,0.000000,0.000000,-4.863222e-03,NaN,-0.299803,NaN,NaN,0.342572

In [16]:
def remove_outliers(a):
    a = a[a < 5]
    return a

In [68]:
%time data = StockData()

# testing different target loss %, holding periods
testPercent = [-0.2, -0.3, -0.4, -0.5, -0.6]
holdingPeriod = [10, 25, 50, 100, 200, 300]

# testPercent = [-0.5, -0.6]
# holdingPeriod = [10, 25, 300]

r = np.zeros((len(testPercent), len(holdingPeriod)))
s = []
n = []
for i, percent in enumerate(testPercent):
    print("--------------")
    print(i)
    %time data.calc_dates_below_target(percent)
    
    for j, days in enumerate(holdingPeriod):
        %time data.calc_r_for_dates_below_target(days)
        rData = data.get_investment_return(to_array=True)
        rData = remove_outliers(rData)
        r[i, j] = rData.mean()
    
#     r.append(rData.mean())
#     s.append(rData.std())
#     n.append(len(rData))

Wall time: 16.4 s
--------------
0
Wall time: 22.2 s
Wall time: 1min 26s
Wall time: 1min 29s
Wall time: 1min 24s
Wall time: 1min 12s
Wall time: 1min 22s
Wall time: 1min 10s
--------------
1
Wall time: 18.2 s
Wall time: 26.3 s
Wall time: 26.3 s
Wall time: 29.9 s
Wall time: 32.5 s
Wall time: 29.5 s
Wall time: 37.9 s
--------------
2
Wall time: 21 s
Wall time: 15.4 s
Wall time: 16.6 s
Wall time: 14.7 s
Wall time: 18.3 s
Wall time: 18 s
Wall time: 15.4 s
--------------
3
Wall time: 20.5 s
Wall time: 10.1 s
Wall time: 9.95 s
Wall time: 11.3 s
Wall time: 9.53 s
Wall time: 9.24 s
Wall time: 10.6 s
--------------
4
Wall time: 20.5 s
Wall time: 6.5 s
Wall time: 7.44 s
Wall time: 7.22 s
Wall time: 6.07 s
Wall time: 6.78 s
Wall time: 8.91 s

In [95]:
col = [f'{i}d' for i in holdingPeriod]
ind = [f'{i*100}%' for i in testPercent]
pd.DataFrame(np.round(r*100, 1), columns=col, index=ind)

         10d   25d   50d  100d  200d  300d
-20.0%  10.5  13.2  14.3  12.3  11.7   9.9
-30.0%  18.4  21.8  21.9  17.8  17.0  13.3
-40.0%  24.3  27.1  25.2  20.0  15.9  14.7
-50.0%  30.8  31.4  25.3  21.2  15.6  14.9
-60.0%  35.8  33.1  24.1  23.0  13.2  10.3